<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module get_add_vec</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>get_add_vec</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:f%3A%5Cqfrog%5Cml_beta%5Cgituploaded%5Ccomparator%5Cnn_based%5Cget_add_vec.py">f:\qfrog\ml_beta\gituploaded\comparator\nn_based\get_add_vec.py</a></font></td></tr></table>
    <p><tt>#&nbsp;coding:&nbsp;utf-8</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#aa55cc">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Modules</strong></big></font></td></tr>
    
<tr><td bgcolor="#aa55cc"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><table width="100%" summary="list"><tr><td width="25%" valign=top><a href="logging.html">logging</a><br>
<a href="logging.html">logging</a><br>
<a href="multiprocessing.html">multiprocessing</a><br>
</td><td width="25%" valign=top><a href="nltk.html">nltk</a><br>
<a href="numpy.html">numpy</a><br>
<a href="os.html">os</a><br>
</td><td width="25%" valign=top><a href="pandas.html">pandas</a><br>
<a href="re.html">re</a><br>
<a href="regen_data.html">regen_data</a><br>
</td><td width="25%" valign=top><a href="sklearn.manifold.html">sklearn.manifold</a><br>
<a href="gensim.models.word2vec.html">gensim.models.word2vec</a><br>
</td></tr></table></td></tr></table><p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-get_add_vec"><strong>get_add_vec</strong></a>(addr)</dt><dd><tt><a href="#-get_add_vec">get_add_vec</a>()&nbsp;takes&nbsp;dataframe(addr)&nbsp;as&nbsp;input/parameter.<br>
Create&nbsp;word&nbsp;embedding&nbsp;by&nbsp;assigning&nbsp;vector&nbsp;to&nbsp;each&nbsp;word&nbsp;that&nbsp;exist&nbsp;in&nbsp;corpus.<br>
returns&nbsp;nothing</tt></dd></dl>
 <dl><dt><a name="-get_add_vec_with_file"><strong>get_add_vec_with_file</strong></a>(filename, from_web=False)</dt></dl>
 <dl><dt><a name="-sentence_to_wordlist"><strong>sentence_to_wordlist</strong></a>(raw)</dt><dd><tt>convert&nbsp;sentence&nbsp;to&nbsp;wordlist&nbsp;i.e.&nbsp;a&nbsp;big&nbsp;pile&nbsp;of&nbsp;words.</tt></dd></dl>
</td></tr></table>
</body></html>